body {

	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0%;
				
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: 15% auto;
	grid-template-rows: auto 100px;

	background-image: linear-gradient(#00081a, #002066);
	color: white;

}

.sidebar {

	padding-left: 20px;

	background-color: white;
	color: black;
	display: inline-block;
	min-height: 100%;
	grid-column: 1;
	grid-row: 1 / span 2;

}

.main {

	display: inline-block;
	grid-row: 1;
	grid-column: 2;

}

footer{

	bottom:0px;
	display: inline-block;
	grid-row: 2;
	grid-column: 2;

	text-align: center;

}

