html {
	background-image: linear-gradient(#00081a, #002066);

}

.sidebarButton{

	background-color: orange; 
	border-color: darkOrange;
	color: indigo;

}

.sidebarButton a {

	color: indigo;

}

.feet_dec{

	color: indigo;
	background-color: orange; 
	border-color: darkOrange;

}

.feet_dec a{

	color: blue;
	text-decoration: underline;


}

.webpageTitle{

	color: black;

}
