body{
	color: black;
	background-image: linear-gradient(#80a8ff, #ccdcff);

}

.sidebarButton{
	background-color: lightgreen;
	border-color: darkgreen;
	color:darkgreen;
}

.sidebarButton a {
	color:black;
}
