html{

	min-width: 100%;
	min-height: 100%;

}

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;

}

.container{

	display: inline-grid;
	justify-content: space-between;
	align-content: space-between;
	grid-template-columns: 200px auto max-content auto 50px;
	grid-template-rows: auto max-content 50px auto;

	width: 100%;
	height: 100%;

	grid-column: 2;
	grid-row: 2;

}

.sidebar {

	display: inline-flex;
	flex-direction: column;

	padding-left: 5px;
	padding-right: 5px;

	color: black;
	grid-column: 1;
	grid-row: 2 / 5;

}

.sidebarButton{

	display: inline-flex;

	border-style: solid;
	border-width: 2px;
	height: 30px;

	text-align: center;
	font-size: 16px;
	padding: 10px;
	margin: 5px;

	background-color: orange; border-color: darkOrange;

}

.sidebarButton a {

	text-decoration: none;

}

.sidebarStyleSelect{

	display:grid;
	grid-template-rows:auto auto auto;
	grid-template-columns:auto auto auto;
	justify-content:space-around;
	align-content: space-around;


	border-style: solid;
	border-width: 2px;

	margin: 5px;

	text-align: center;
	font-size: 24px;

	 background-image: url("/etc/images/backgrounds/papertexture.png"); background-color: orange; border-color: darkOrange;

}

.webpageTitle{

	font-size: auto;
	grid-column: 1 / 2;
	padding-left:20px;
	grid-row: 1;

	background-color: white;
	text-decoration: none;

	width:auto; height:auto;
	border-style: solid;
	border-color: black;
	border-width: 1px;

	margin: 10px;

}

.main {

	grid-column: 3;
	grid-row: 1 / 3;

	grid-template-columns: auto max-content auto;
	grid-template-rows: auto max-content auto;
	display:inline-grid;

	justify-content:center
	align-content: center;

	min-width: 720px;
	min-height: 480px;

	padding-top: 20px;

}

.articleSection{

	grid-column: 2;
	grid-row: 2;

	min-width: 720px;
	min-height: 480px;

	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;


}

table, th, td {

  border: 1px solid black;
  border-collapse: collapse;

	min-height: 80px;
	min-width: 16px;

}

.feet{
	grid-row: 4;
	grid-column: 3;
	text-align: center;

}
