html{
	color: black;
	background-image: linear-gradient(#80a8ff, #ccdcff);

}

.sidebarButton{
	
	background-color: lightgreen;
	border: darkgreen solid 2px;
	color:darkgreen;
}

.sidebarButton a {
	color:black;
}

.webpageTitle{

	background-color: lightgreen;
	border: darkgreen solid 2px;
	color:Blue;

}

.feet_dec{

	background-color: lightgreen;
	border: darkgreen solid 2px;
	color:black;

}
