html{

	min-width: 100%;
	min-height: 100%;

}

body {

	min-width: 600px;
	height: 100%;
	padding: 0px;
	margin: 0px;

}

.primary_layout{

	display: grid;
	justify-content: space-between;
	align-content: space-between;

	column-gap: 10px;
	row-gap: 5px;

	width: 100%;
	height: 100%;

	grid-template-columns: 200px calc(100% - 250px) 10px;
	grid-template-rows: 10px max-content auto;

}

.landing_page_layout{

	display: grid;
	justify-content: space-between;
	align-content: space-between;

	row-gap: 40px;

	width: 100%;
	height: 100%;

	grid-auto-rows: auto;
	grid-auto-columns: 100%;

}

.project_selection_layout{

	display: flex;
	width: calc(100% - 40px);

	column-gap: 10px;
	row-gap: 40px;

	flex-wrap: wrap;
	justify-content: space-between;

}

.project_selection_item{

	height: 125px; 
	width: 350px;
	
	display: inline-flex; 
	
	grid-template-columns: 120px 20px calc(100% - 150px);
}

.project_selection_image{

	top: 0px; left: 0px; 
	height: 120px; width: 120px; 
	grid-column: 1;

}

.project_selection_txt{

	grid-column: 3; 
	min-width: 120px; 
	
	overflow-x:unset;
}



.sidebar {

	display: inline-flex;
	flex-direction: column;

	padding-left: 5px;
	padding-right: 5px;

	color: black;
	grid-column: 1;
	grid-row: 2 ;

}

.sidebarButton{

	display: inline-flex;

	text-align: center;
	font-size: 16px;

	padding: 10px;
	margin: 5px;
	height: 30px;
	
	background-color: white;
	border: solid 2px black;

}

.sidebarButton a {

	text-decoration: none;
	color: black;

}

.sidebarStyleSelect{

	display:grid;
	grid-template-rows:auto auto auto;
	grid-template-columns:auto auto auto;
	justify-content:space-around;
	align-content: space-around;

	border-style: solid;
	border-width: 2px;

	margin: 5px;
	text-align: center;
	font-size: 24px;

	background-image: url("/assets/images/backgrounds/papertexture.png"); background-color: orange; border-color: darkOrange;

}

.webpageTitle{

	font-size: auto;
	background-color: white;
	text-decoration: none;

	width:auto; height: 75px;
	border-style: solid;
	border-color: black;

}

.main {

	grid-column: 2;
	grid-row: 2;

	min-height: 480px;

	width: 100%;

	border-style: solid;
	background-color: white;
	border-color: black;
	
	
}

.articleSection{

	position: relative;
	margin: 5px;

	display: block;
	width: 100%;
	min-height: 480px;

	border-width: 1px;

}

table, th, td {

	border: 1px solid black;
	border-collapse: collapse;

	min-height: 80px;
	min-width: 16px;

}

.feet{
	
	grid-row: 3;
	grid-column: 2;
	text-align: center;

	width: calc(100% - 15px);



	margin-bottom: 20px;

}

.feet a {

	color:blue;
	text-decoration: none;

}

.feet_dec{

	width: 100%;

	padding: 10px; grid-column:2; grid-row:2;

	background-color: white;
	border: solid 2px black;

}

@media only screen and (max-width: 800px) {

	.primary_layout{

		display: grid;
		justify-content: space-between;
		align-content: space-between;
	
		column-gap: 10px;
		row-gap: 5px;
	

		grid-template-columns: auto auto auto;
		grid-template-rows:  auto auto auto;
	
	}

	.sidebar{

		grid-column: 2;
		grid-row: 1;

		display: inline-block;

	}


	.sidebarButton{

		display: inline-block;
		width: calc(50% - 40px);

		display: none;

	}

	
	.webpageTitle{

		width: calc(100% - 40px);
		display: inline-block;
		
	}


	.feet{

		grid-column: 2;
		grid-row: 3;

	}

	.main{

		grid-column: 2;
		grid-row: 2;


	}


	
}