html{

	min-width: 100%;
	min-height: 100%;

}

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;

}

.container{

	display: grid;
	justify-content: space-between;
	align-content: space-between;

	grid-column-gap: 50px;
	grid-row-gap: 20px;

	grid-template-columns: 200px calc(100% - 250px) 50px;
	grid-template-rows: 10px max-content auto;

	width: 100%;
	height: 100%;

}

.sidebar {

	display: inline-flex;
	flex-direction: column;

	padding-left: 5px;
	padding-right: 5px;

	color: black;
	grid-column: 1;
	grid-row: 2 ;

}

.sidebarButton{

	display: inline-flex;

	border-style: solid;
	border-width: 2px;
	height: 30px;

	text-align: center;
	font-size: 16px;
	padding: 10px;
	margin: 5px;

	background-color: orange; border-color: darkOrange;

}

.sidebarButton a {

	text-decoration: none;

}

.sidebarStyleSelect{

	display:grid;
	grid-template-rows:auto auto auto;
	grid-template-columns:auto auto auto;
	justify-content:space-around;
	align-content: space-around;

	border-style: solid;
	border-width: 2px;

	margin: 5px;
	text-align: center;
	font-size: 24px;

	background-image: url("/assets/images/backgrounds/papertexture.png"); background-color: orange; border-color: darkOrange;

}

.webpageTitle{

	font-size: auto;
	background-color: white;
	text-decoration: none;

	width:auto; height: 50px;
	border-style: solid;
	border-color: black;

}

.main {

	grid-column: 2;
	grid-row: 2;

	min-height: 480px;
	width: calc(100% - 250px);

	border-style: solid;
	background-color: white;
	border-color: black;
	
	
}

.articleSection{

	position: relative;
	margin: 5px;

	display: block;
	width: 100%;
	min-height: 480px;

	border-width: 1px;

}

table, th, td {

	border: 1px solid black;
	border-collapse: collapse;

	min-height: 80px;
	min-width: 16px;

}

.feet{
	
	grid-row: 3;
	grid-column: 1 / 4;
	text-align: center;
}

.feet a {

	color:blue;
	text-decoration: none;

}